/* --  background and library name -- */
.light-blue-bg {
    background-color: lavender;
}
span{
    color:lightskyblue;
}

/* --  FLEX BOX IMAGES -- */

.flex-container {
  display: flex;
}
.box img{
  border: 1px solid #ccc;
  padding: 10px;
  background-color: whitesmoke;
  position:static;
  top:0;
  left:0;
  object-fit:fill;
}
.flex-item {
  flex: 1;
  margin: 10px;
}

.flex-item img {
  width: 13%;
  height: auto;
}
