/* --  background and library name -- */
.light-blue-bg {
    background-color: lightskyblue;
}
span{
    color:lightskyblue;
}

/* --  FLEX BOX IMAGES -- */

.flex-container {
  display: flex;
}
.box img{
  border: 1px solid white;
  padding: 10px;
  background-color: white;
  position:static;
  top:0;
  left:0;
  object-fit:cover;
}
.flex-item {
  flex: 1;
  margin: 10px;
}
.flex-item img {
  width: 13%;
  height: auto;
}
/* --  navbar align -- */
.navbar-nav {
  align-items: center;
}

