* {
  scroll-behavior: smooth;
}

/* --  background and library name -- */
.light-blue-bg {
  background-color: lightskyblue;
}
span {
  color: lightskyblue;
}

/* --  FLEX BOX IMAGES -- */

.flex-container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  /* grid-template-rows: repeat(auto-fit, minmax(500px, 5fr));
  grid-gap: 10px;  */
  width: 900px;
  margin: auto;
}

.box {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box img {
  height: 250px;
  width: 200px;
  margin-bottom: 10px;
  object-fit: fill;
  padding: 10px;
}

.box h6 {
  font-size: 16px;
  margin-bottom: 5px;
}



/* --  navbar align -- */
.navbar-nav {
  text-align: center;
}

.nav-item p {
  display: flex;
  justify-content: center;
}

/* --  book list cards-- */

.h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 70px;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.book-card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.02);
}

.book-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.book-card-details {
  padding: 16px;
}

.book-card-title {
  font-size: 20px;
  margin: 0;
}

.book-card-author {
  margin-top: 8px;
  color: #555555;
}

.book-details {
  max-width: 1100px;
  height: 650px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.book-info {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.book-title {
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.book-author {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #555555;
  font-size: 18px;
}

.book-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 550px;
  object-fit: cover;
  margin-top: 16px;
  margin-bottom: 16px;
}

.book-description {
  margin-top: 16px;
  line-height: 1.5;
  margin-left: 35px;
}

.book-rating {
  font-size: 18px;
  margin-top: 16px;
  margin-left: 265px;
}

.rating-label {
  font-weight: bold;
  margin-right: 5px;
}

.book-card p {
  font-size: 13px;
}

.back-container {
  text-align: left;
}
.back-button {
  font-size: 16px;
  background-color: lightskyblue;
  border-radius: 4px;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
} */

/* Edit and Add Design */

/* modal.css */
.modal-dialog {
  width: 600px;
  margin-top: 20px;
}
.modal-content {
  margin-top: 20px;
}

.modal-header {
  justify-content: center;
  margin-bottom: 20px;
}

.modal-title {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body {
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  flex: 0 0 100px;
  display: block;
  /* margin-bottom: 0.5rem; */
}

.form-control {
  width: 100%;
  max-width: 600px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f9fa;
  border: 1px solid black;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: background-color 0.15s ease-in-out;
}

/* Regsiter Form Desgin */

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
  border-radius: 4px;
  height: "500px";
}

.register-form h2 {
  margin-bottom: 20px;
}

.register-form form {
  display: flex;
  width: 600px;
  height: 500px;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

/* 
Desgingn the favorite and my cart buttons */

.book-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.book-buttons {
  /* margin: 0 10px; */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.book-buttons button {
  /* padding: 0px 10px; */
  margin-left: 115px;
  margin-right: 10px;
  width: 130px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.book-buttons button:hover {
  background-color: #0056b3;
}


.favorites-button {
  color: #fff;
  background-color: pink;
}

.cart-button {
  color: #fff;
  background-color: darkgreen;
}

.shopping-cart {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  /* margin-left:1100px; */
  list-style: none;
  padding: 0;
}
ul .nav {
  margin-left: 500px;
}

ul .login{
  margin-left: 1100px;
}

li {
  /* margin-left:100px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-nav .nav-link {
  margin-left: 5px;
  margin-right: 10px; 
}

button {
  background-color: darkblue;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  
}


.buttonn {
  --primary-color: inherit;
  --secondary-color: #fff;
  --hover-color: blue;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.5em 1.0em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.buttonn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.buttonn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.buttonn:hover {
  background-color: var(--hover-color);
}

.buttonn:hover .arrow {
  background: var(--secondary-color);
}

.buttonn:hover .arrow:before {
  right: 0;
}

/* Designin my profile page */

.profile-page {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.profile-page h2 {
  font-size: 24px;
  text-align: center;
}

.profile-details {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.profile-details h3 {
  font-size: 20px;
}

.profile-details p {
  margin: 10px 0;
}

/* button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer; */




 /* Navbar addition */

.navbar-cart {
  display: flex;
  align-items: center;
}

.navbar-cart .cart-icon {
  margin-right: 5px;
}

.navbar-cart .cart-icon svg {
  width: 18px;
  height: 18px;
  color: red;
}

.navbar-cart .cart-text {
  font-size: 14px;
  color: #333;
}

  /* Recommended books */
  .rec-books-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .rec-books-header {
    margin-bottom: 20px;
  }
  
  .rec-books-header h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: left;
  }
  
  .rec-books-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  .recommended-books-page {
    padding: 20px;
  }
  .recommended-books-grid {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 15px;

  }
  
  .recommended-book-card {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 370px;
  }
  
  .recommended-book-cover {
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 10px;

  }
  
  .recommended-book-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  
  }
  
  .recommended-book-author {
    font-size: 14px;
    color: #666;
  }  

  .custom-height {
    height: 500px; /* Replace with your desired height value */
  }

  /* MY PROFILE */

  /* .card {
    color: #1b1b1b;
    width: 300px;
    height: 500px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
  }
  
  .card-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  .card-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  
  /*Text*/
  /* .title {
    font-size: 1.3rem;
    font-weight: bold;
  } */
  /*Text divider*/
  /* .title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
  }
  
  
  /*Hover*/
  /* .card:hover {
    background-color: #1b1b1b25;
  }
  
  .card:hover .card-front {
    transform: translateX(-100%);
  }
  
  .card:hover .card-back {
    transform: translateX(0);
  } */


  
  /* SEARCH BOX */
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 590px;
   
   }
   
   .input {
    justify-content: center;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   /* LOG OUT BUTTON */

   .buttoon {
    padding: 10px 20px;
    border: 0;
    border-radius: 100px;
    background-color: inherit;
    color: wheat;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .buttoon:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .buttoon:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  
   
   
   
   
   